div.form{
    border: 1px solid transparent;
}

form{
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    width: 40%;
    margin: auto;
    margin: 100px auto;
    padding: 10px;
}
form > div{
    padding: 10px;
    margin: 10px;
}
form > div > input{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    /* background-color: rgb(200, 200, 200); */
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}
form > div > input[type=submit]{
    background-color: green;
    color: white;
}
